<div class="col-md-12">
    <form @onsubmit="AddNewTodo">
        <div class="form-row">
            <div class="input-group mb-3">
                <input type="text" @bind="newTodoText" class="form-control" placeholder="Add a task" aria-label="Add a task" aria-describedby="addTodoButton">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" id="addTodoButton">
                        <span class="oi oi-plus" aria-hidden="true"></span>
                        Add new
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
