@page "/"
@inject HttpClient HttpClient

<h1>My Todo List</h1>

<div class="row">
    <AddTodo OnNewTodoAdded="AddTodoItem" />
</div>
<div class="row">
    @if (todos == null)
    {
        <Loader />
    }
    else
    {
        <TodoList Items="todos" />
    }
</div>

@code {
    private IList<ListItemViewModel> todos;

    protected override async Task OnInitializedAsync()
    {
        await LoadTodoItems();
    }

    async Task AddTodoItem(string newTodoText)
    {
        todos.Add(new ListItemViewModel { Text = newTodoText });
        await LoadTodoItems();
    }

    async Task LoadTodoItems()
    {
        todos = await HttpClient.GetJsonAsync<IList<ListItemViewModel>>("api/todo");
    }
}
