@page "/"
@inject HttpClient HttpClient

<h1>My Todo List</h1>

@if (todos == null || !todos.Any())
{
    <p><em>Loading...</em></p>
}
else
{
    <TodoList Items="todos" />
}

@code {
    private IList<ListItemViewModel> todos = new List<ListItemViewModel>();

    protected override async Task OnInitializedAsync()
    {
        HttpClient.BaseAddress = new Uri("https://localhost:44387/");

        todos = await HttpClient.GetJsonAsync<IList<ListItemViewModel>>("api/todo");
    }
}
