@page "/"

<h1>My Todo List</h1>

<div class="row">
    <AddTodo OnNewTodoItemAdded="AddTodoItem" />
</div>
<div class="row">
    @if (todos == null)
    {
        <Loader />
    }
    else
    {
        <TodoList Items="todos"
                  OnToggleCompletedItems="ToggleCompletedItems"
                  OnTodoItemMarkedAsDone="MarkItemAsDone"
                  OnTodoItemDeleted="RemoveItem"/>
    }
</div>
