@page "/"
@inject IStringLocalizer<Resources.Pages.Index> localizer

<h1>@localizer[nameof(Resources.Pages.Index.PageTitle)]</h1>

<div class="row">
    <AddTodo OnNewTodoItemAdded="AddTodoItem" />
</div>
<div class="row">
    @if (todos == null)
    {
        <Loader />
    }
    else
    {
        <TodoList Items="todos"
                  OnToggleCompletedItems="ToggleCompletedItems"
                  OnTodoItemMarkedAsDone="MarkItemAsDone"
                  OnTodoItemDeleted="RemoveItem"/>
    }
</div>
